#loginPage-container{
    background: white;
    padding: 25px;
    width: 100%;
}

#loginPage-section{
    background : white;
    width: 100%;
    max-width: 500px;
    margin : auto;
    border: none;
    justify-content: center;
    padding-bottom: 30px;
}

#loginPage-section-title{
    background : white;
    width: 100%;
    max-width: 500px;
    margin : auto;
    border: none;
    justify-content: center;
    padding-bottom: 30px;
}

.loginPage-actionButton{
    margin-bottom: 5px;
}

#loginPage-breadcrumb{
    position: relative;
}

.loginPage-breadcrumb-crumb{
    margin-left: 5px;
    margin-right: 5px;
    background-color: whitesmoke;
    border: black 2px solid;
    width: 25px;
    height: 25px;
}

.loginPage-breadcrumb-currentCrumb{
    margin-left: 5px;
    margin-right: 5px;
    background-color: darkseagreen;
    border: black 2px solid;
    width: 25px;
    height: 25px;
}

.loginPage-breadcrumb-pinnedCrumb{
    margin-left: 5px;
    margin-right: 5px;
    background-color: dodgerblue;
    border: black 2px solid;
    width: 25px;
    height: 25px;
}