.productPage{
    position: relative;
    background: #e4e3e0;
    padding-left: 50px;
    padding-right: 50px;
}

.productPage-mainView{
    width: calc(100% - 300px);
    height: 100%;
    padding-top: 15px;
}

.productPage-sideView{
    width: 300px;
    height: 500px;
    overflow: scroll;
    padding: 10px;
    background: #F4F4F2;
    position: fixed;
    right: 15px;
    top: 100px;
}