#navBar{
    position: relative;
    background-color: #000000;
    width: 100%;
    height: 46px;
}

#navBar-logo,
.navBar-elements,
.navBar-elements:focus,
.navBar-elements:hover{
    background: transparent;
    border: none;
    outline: none;
    color: white;
    border-radius: 0;
    margin-top: 6px;
}

.navBar-elements {
    margin-right: 15px;
    margin-top: 6px;
}

.navBar-elements.btn-default.active,
.navBar-elements.btn-default.active:focus,
.navBar-elements.btn-default.active:hover{
    background-color: white!important;
    border-color: white;
}


#navBar-logo{
    background-color: transparent!important;
}

.navBar-search{;
    background: white;
    width: 25%;
    padding: 5px;
    margin-right: 10%;
    margin-left: 15%;
    outline: none;
    border: none;
}