.homePage {
    position: relative;
    background: #FFFFFF;
    width: 100%;
}

.homePage-showBy-bar {
    position: relative;
    margin: 15px 15px 15px;
    text-align: center;
    border-bottom: solid black 1px;
    width: calc(100% - 30px);
}

.homePage-showBy-button,
.homePage-showBy-button:hover{
    color: #313131;
    font-size: 140%;
    margin-right: 30px;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 0;
    border-bottom: solid white 5px;
}

.homePage-showBy-button:hover{
    background: #f4f4f4;
}

.homePage-showBy-button.btn-default.active,
.homePage-showBy-button.btn-default.active:hover{
    background: white!important;
    box-shadow: none!important;
    border-bottom: solid black 5px;
}

.homePage-content {
    position: relative;
    width: 100%;
}

.homePage-loadMoreButton {
    width: 100%;
    margin: 10px auto;
}

.homePage-section{
    margin-bottom: 50px;
}

.homePage-section-title {
    color: #313131;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 0px;
    margin-top: 25px;
    margin-bottom: 25px;
}