.preview {
    width: 100%;
    margin: 10px auto;
    background: transparent;
    border-bottom: 1px solid black;
}

.preview-portrait {
    width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    background: transparent;
    vertical-align: middle;
    cursor: pointer;
}

.preview-title {
    font-size: 1.5rem;
    color: #666666;
    text-align: left;
    padding: 10px;
}

.preview-like{
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.preview-like-icon{
    background: none;
    outline: none;
    border: none;
    vertical-align: middle;
    margin-right: 5px;
}

.preview-like-icon:hover{
    opacity: .5;
    cursor: pointer;
}

.preview-img-thumbnail {
    padding: 4px;
    line-height: 1.42857143;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto;
}