/*Global CSS declarations*/
*{
    margin: 0;
    padding: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

html{
    background-color: #FFFFFF;
}

body {
    background-color: #FFFFFF;
}

@font-face {
    font-family: openSans;
    src: url("/open-sans/OpenSans-Light.ttf");
}

@font-face {
    font-family: openSans-Bold;
    src: url("/open-sans/OpenSans-Regular.ttf");
}

h1, h2, p, ul, li, a {
    font-family: openSans;
}

b{
    font-family: openSans-Bold;
}

#bootstrap-overrides{
    box-shadow: none;
    border: none;
    outline: none;
    background-color: #FFFFFF;
}

.center-block{
    text-align: center;
}