.homePage{
    position: relative;
    background: #e4e3e0;
    padding-left: 50px;
    padding-right: 50px;
}

.homePage-showBy-bar{
    position: relative;
    margin: 15px;
    margin-top: 30px;
    width: calc(100% - 30px);
}

.homePage-showBy-text{
    color:#313131;
    float: right;
    margin-right: 30px;
}

.homePage-showBy-text:hover{
    cursor: pointer;
    color: #313131;
}

}

.homePage-products{
    position: relative;
    padding-top:50px;
    width: 100%;
}

.homePage-products h1{
    font-size: 150%;
    text-transform: capitalize;
    margin-top: 50px;
    margin-bottom: 25px;
}

.homePage-loadMoreButton{
    width: 100%;
    margin: 10px auto;
}