.navbar {
    font-size: 18px;
    border: none!important;
}

.nav {
    font-size : 18px;
    padding-top : 48px;
    margin-bottom: 0;
    margin-right: 0;
}

.navbar-Logo {
    position: relative;
    float: left !important;
    margin-top: 35px;
    top: 10px;
    display: block;
    background: url('/assets/revomakeLogo.png') no-repeat center center;
    background-size: contain;
    width:150px;
}

.navbar-search{
    width: 150px;
}

.navbar-search{
    width: 150px;
}

.navbar-login{
    width:50px;
    height:50px;
    border-radius: 50px;
    border: none;
}

.navbar-inverse .navbar-nav > li > a {
    color: #c8c8c4;
}
.navbar-inverse .navbar-nav > li > a:hover{
    color: #f4f4f2;
}
.navbar-inverse .navbar-nav > li > a:focus {
    color: #f4f4f2;
}

.navbar-inverse .navbar-nav > .active {
    color: #313131;
    background-color: #e4e3e0;
}

